/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common styles */

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-top: 100px;
    text-align: center;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
}

.nav-logo h2 {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    margin-left: 34px;
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}

.nav-btn {
    margin-left: 30px;
}

.nav-btn span i {
    font-size: 24px;
    margin-left: 34px;
}

/* banner styles */

.banner {
    padding: 50px 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.banner-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.banner-des {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.banner-btn {
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}

.banner-img {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 475px;
    width: 475px;
    padding: 30px;
}

.banner-img img {
    width: 440px;
    height: 414px;
    margin-top: 30px;
}

/* Brands Styles */

.brands {
    margin: 50px 200px;
    padding: 50px 0;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

/* Popular Collection Styles */

.popular-collection {
    padding: 50px 200px;
}

.collections {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;

}

.collection {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    height: 427px;
}

.collection-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}

.collection-price {
    font-weight: 400;
    font-size: 24px;
    color: #18191F;
}

.collection-info {
    color: #FB8200;
    font-size: 11px;
}

.rating-text {
    color: #5E6366;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
}

.collection-details {
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.popular-btn {
    background-color: transparent;
    color: #E02C6D;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    margin-top: 50px;
}

.popular-btn-sec {
    text-align: right;
    margin-top: 50px;
}

/* Call to action styles */

.call-to-action {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.call-to-action-title {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}

.call-to-action-des {
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 16px;
}

.call-btn {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: #E02C6D;
    padding: 10px 24px;
}

/* Footer Styles */

footer {
    padding: 50px 589px;
    background-color: #0A0826;
    text-align: center;
}

.footer-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}

.copyright {
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
}

.social-icons i {
    color: #FFFFFF;
    font-size: 17px;
    margin: 10px;
    background: #22203B;
    padding: 10px;
    border-radius: 100%;
}